<head>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div ng-app="judging-system" ng-controller="AppCtrl">
		<header>
			<i  ng-click="toggleLeft()" class="fa fa-bars fa-2x"></i>
			<h1><a  class="logo">U-JUDGE</a></h1>
			<blaze-template name="loginButtons"></blaze-template>
		</header>
		<main class="main-layout">
			<md-sidenav class="sidebar" md-component-id="left">
		      <md-toolbar class="nav-toolbar">
		        <h1 class="md-toolbar-tools" ng-click="toggleLeft()">U-Judge</h1>
		      </md-toolbar>
		      <div ng-controller="LeftCtrl" class="sidebar-main">
				<ul>
					<li><a ui-sref="home" ng-click="toggleLeft()">Home</a></li>
					<li><a ui-sref="createEvent" ng-hide ="hiddenLink"  ng-click="toggleLeft()">Create Event</a></li>
					<li><a ui-sref="adminConsole" ng-hide ="hiddenLink" ng-click="toggleLeft()">Admin Console</a></li>
					<li><a ui-sref="judgingConsole" ng-hide ="hiddenLink" ng-click="toggleLeft()">Judging Console</a></li>
					<li><a ui-sref="leaderboard" ng-hide ="hiddenLink" ng-click="toggleLeft()">Leaderboard</a></li>
	<!-- 				<li><a ui-sref="matchHistory" ng-click="toggleRight()">Match History</a></li> -->
					<li><a ui-sref="quickScoreboard" ng-click="toggleLeft()">Quick Scoreboard</a></li>
				</ul>
		      </div>
		    </md-sidenav>
			<div ui-view></div>	
		</main>
	</div>
</body>




    
    
