@import '../_styles'

.create-event
    padding 20px
    margin-bottom 30px   
    h1
        text-align center
    hr
        border 0
        height 1px
        background grey
        margin-bottom 10px
        
    .create-wrapper
        clearfix()
        padding 50px 50px 20px 50px
        .min,.sec,.create3
            lost-column 1/2
        div
            padding 15px 0
        +above($large)
            .create2
                lost-column 1/2
    .create-new-player
        shadow-level(2)
        +above($small)
            lost-column 1/2
        +above($large)
            lost-column 1/4
        padding 20px
        margin 10px 0
        background light-grey
        input
            margin 0
        .add-delete
            text-align center
    .create-players-wrapper
        clearfix()
        padding 20px 0
        margin-bottom 50px
    .create-judges-wrapper
        clearfix()
        lost-utility clearfix
        background transparent 
        padding 10px 0
        margin-top 10px
    .create-new-judge
        shadow-level(2)
        margin 10px 0
        input
            margin 0
        +above($small)
            lost-column 1/2
        +above($large)
            lost-column 1/4   
    .submit-wrapper
        float right
        padding 30px 0
    .new-judge-container
        background light-grey
        
 //style for judge container in admin-console as well as create-event       
.new-judge-container
    position relative
    background light-grey
    padding 20px 
    margin-bottom 20px 
    shadow-level(0)  
    input
        width 100% 
        display block
        margin-bottom 10px 
    .add-delete
        text-align center
 
//error notifications        
.error-message
    text-align center
    p
        color rgb(244,67,54)
    font-size 16px
    