@import '../_styles'

.home-wrapper
	lost-column 1
	img
		lost-column 1/2
		lost-move 1/2
	.about-ujudge
		h3
			margin 0
		lost-column 1/2
		lost-move -1/2
	+below($med)
		img, .about-ujudge
			lost-column 1 
			lost-move 0
			