@import '../_styles'

.home-wrapper
	.home-hero
		background light-grey
	.home-intro
		background white
	.home-123
		background grey
	.home-quick-sb
		background dark-blue
	.home-signup
		background white
			