@import '../_styles'

.home-wrapper
	section
		padding 50px
		+above($large)
			padding 100px
	h1
		padding-bottom 50px
	.home-hero
		background-image url("/img/skateboarding2.jpg") 
		background-size cover
		background-repeat no-repeat
		background-position center top
		color white
		// display flex
		// align-items center
		// justify-content center
		.hero-logo
			text-align center
			margin 100px 50px
			h1
				padding 0
				margin 0
		.hero-text
			h3, button
				display inline-block
				margin 0 20px
			text-align center
			margin 0
		clearfix()
		.logo
			+above(380px)
				font-size 48px
	.home-intro
		background white
		clearfix()
		h1
			text-align center
			color dark-blue
		img, .intro-text
			lost-column 1
			+above($large)
				lost-column 1/2
				p:first-child
					margin-top 0
				
	.home-123
		background grey
		text-align center
		h1
			color epic-grey
		i
			color dark-blue
		.home-create, .home-admin, .home-judge
			lost-column 1/3
			+below($med)
				lost-column 1
				p
					lost-center 90%
					margin-bottom 30px
			p
				padding 0 20px
		clearfix()
	.home-quick-sb
		background-image url("/img/competition2.jpg")
		background-size cover
		background-repeat no-repeat
		background-position center center
		h1
			color white
		p
			margin 0 10px 20px 0
			lost-column 2/3
			color white
			+below($large)
				lost-column 1	
		button
			float right
			+below($large)
				float none
		clearfix()
	.home-signup
		background white
		text-align left
		button
			margin 20px 0
			lost-align center
		clearfix()
	footer
		text-align center
		display relative
		padding 50px
		background muted-grey
		color white
		div
			display flex
			justify-content center
		img
			width 50px
			height 50px		