@import '../_styles'

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit
    
p
    color epic-grey
    a
        color darken(blue, 20%)
        text-decoration none
        &:hover, &.active
            bright-blue   

body
    background #FFF
    padding 38px 0 150px
    
.main-layout
    lost-center 90%
    margin-top 20px
    +above($med)
        lost-center 90%
    +above($large)
        lost-center 80%
        margin-top 40px
        
.console-container
    position relative
    background light-grey
    padding 20px 
    margin-bottom 20px 
    shadow-level(2)
    
//Header
header
    color #FFF
    display flex
    background dark-blue
    fixed top left
    width 100%
    z-index: z.header
    shadow-level(2)
    .logo-short
        display none
    i
        margin 0 10px
    .logo, .logo-short
        font-size 32px
        color white
        text-decoration none
    .fa-bars
        &:hover
            cursor pointer
            color light-grey
    button
        float right
        margin 5px 10px
    +below($small)
        .logo
            display none
        .logo-short 
            display inline-block
        button
            margin-left 0

//MISC	
.logo
    font-weight 300
.logo::first-letter
    font-weight bold
    letter-spacing 10px
        
.title
    text-align center
        
i:focus
    outline none
     
	
.fa-dot-circle-o
    color red
    
.md-display-4
    margin 25px 0
    font-size 72px
    line-height 72px 
            
input, select, textarea
    color epic-grey
    background #FFF
    border solid 2px light-grey
    border-radius 2px
    font-weight 800
    padding 6px 10px
    margin-bottom 10px 
    &:focus
        outline none 
    &.static-input
        border none
        background transparent