@import '../_styles'

md-backdrop
    position fixed
    
.sidebar
    position fixed
    width 200px
    min-width 200px
    max-width 200px
    background light-grey
    .nav-toolbar
        background light-grey
        height 50px
        text-align center
        font-size 1.8em
        color epic-grey
        margin-bottom 10px
        img
            width 100%
            height 100%
            margin 5px auto 0 auto
            &:hover
                cursor pointer
    shadow-level(2)
    ul
        margin 0
        padding 0
        list-style none
        li
            border-top 1px solid grey
    a
        color dark-blue
        text-decoration none
        padding 20px 0 20px 20px
        display block
        text-align left
        trans()
        &:hover, &.active
            background darken(@background, 10%)