@import styles

.admin-top
    text-align center

.admin-grid
    lost-column 1/3
    text-align center
    
.admin-bot
    clearfix()
    clear both
    text-align center
    
.admin-judge-box
    lost-column 1/4
    text-align center