@import styles

.create-event
    h2
        text-align center
    // hr
    //     border 0
    //     height 1px
    //     background light-grey
    //     margin-bottom 40px
    padding 20px
    margin-bottom 30px           
    .create-wrapper
        background light-grey
        padding 20px
        margin-bottom 50px
        div
            padding 15px 0
    .create-new-player
        padding 20px
        margin 10px 0
        background light-grey
        input
            margin 0
        button
            width 100%
    .create-players-wrapper
        padding 20px 0
    .create-judges-wrapper
        lost-utility clearfix
        background transparent 
        padding 10px 0
        margin-top 30px
    .create-new-judge
        margin 10px 0
        input
            margin 0   
    .submit-wrapper
        float right
        padding 30px 0
        
.new-judge-container
    position relative
    background light-grey
    padding 20px 
    margin-bottom 20px 
    shadow-level(0)  
    input
        width 100% 
        display block
        margin-bottom 10px 
    button
        width 100%
    