@import styles

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit
    
p
    color epic-grey
    a
        color darken(blue, 20%)
        text-decoration none
        &:hover, &.active
            bright-blue   

body
    background #FFF
    padding: 70px 0 150px
    
.main-layout
    lost-center 90%
    margin-top 20px
    +above($med)
        lost-center 90%
    +above($large)
        lost-center 80%
        margin-top 40px
        
.console-container
    position relative
    background light-grey
    padding 20px 
    margin-bottom 20px 
    shadow-level(0)
    
//Header
header
    color #FFF 
    background darken(blue, 20%)
    padding 20px 
    fixed top left
    width 100%
    height 45px  
    z-index: z.header
    h1 
        a
            color white
            text-decoration none
        margin -15px 0 0 0
        font-size 1.7em 
        float left
    .login-buttons-dropdown-align-
        margin-top -5px
        float right
        a
            color #FFF
            text-decoration none 
        #login-dropdown-list
	        right 0
	        left auto 
	        a 
	            color epic-grey
	#login-buttons
		a
			text-decoration none

//MISC	
i:focus
    outline none
     
.fa-bars
    float left
    margin -15px 15px 0 -5px
    &:hover
        cursor pointer
        color light-grey
	
.fa-dot-circle-o
    color red
    
.md-display-4
    margin 25px 0
    font-size 72px
    line-height 72px 
            
input, select, textarea
    color epic-grey
    background #FFF
    border solid 2px light-grey
    border-radius 2px
    font-weight 800
    padding 6px 10px
    margin-bottom 10px 
    &:focus
        outline none 
    &.static-input
        border none
        background transparent