<md-content layout="row" layout-align="center start" layout-fill layout-margin>
  <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
    <img src="/img/main-logo.svg" alt="U Judge Logo">
    <div layout="column" layout-fill layout-margin layout-padding>
 
      <div layout="row" layout-fill layout-margin>
        <p class="md-body-2">Use your email?</p>
      </div>
 
      <form name="registerForm" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container >
          <label> Email </label>
          <input type="text" ng-model="credentials.email" placeholder="email" aria-label="email" required/>
        </md-input-container>
        <md-input-container >
          <label> Password </label>
          <input type="password" ng-model="credentials.password" placeholder="password" aria-label="password" required/>
        </md-input-container>
        <div layout="row" layout-align="end center">
          <button class="md-raised md-primary" ng-click="register()" aria-label="login">Register</button>
        </div>
      </form>
 
      <md-divider class="inset"></md-divider>

      <md-toolbar ng-show="error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">Please enter a valid email address.</p>
      </md-toolbar>

      <div layout="row" layout-align="center">
        <a  ui-sref="login">Already a user?</a>
      </div>
 
    </div>
 
  </md-whiteframe>
</md-content>