<button class="btn-primary" ui-sref="createEvent">Go to Create Event</button>
<button class="btn-primary" ui-sref="judgingConsole">Go to Judging Console</button>
<button class="btn-primary" ui-sref="leaderboard">Go to Leaderboard</button>
<div class="console-container">
	<label for="">Choose Event</label>
 	<select ng-options="event.name for event in events track by event._id" ng-model="event">
 	</select>
    <h1>Name: {{ event.name }}</h1>
    <h1>Player: {{ currentPlayer }}</h1>
	<h1 ng-repeat="player in event.players">{{ player.name }}</h1>
	<h4>Round Score</h4>
	<h1>{{ getRoundTotal() }}</h1>
	<h4>Total Score</h4>
	<h1>{{ totalScore }}</h1>
	<h4>Round</h4>
	<h1>{{ event.currentRound }}</h1>
	<h1>{{ event.timeLimit | timeFilter | date:"mm:ss" }}</h1>
	<button>Start Next Player</button>
	<button>End Current Player</button>
	<button>Next Round</button>
</div>
<div ng-repeat="judge in event.judges">
<div class="new-judge-container">
	<h1 >{{ judge.name }}</h1>
	<h1>{{ score.score }}</h1>
</div>
<p>Alert</p><i ng-show = "true" class="fa fa-dot-circle-o"></i><i ng-hide="true" class="fa fa-circle-o"></i>
</div>


 
