<div class="main-layout">
	<div id="admin-console">
		<div class="console-container">
			<div class="delete-buttons">
				<button class="reset-button"  ng-click="resetGame()">Reset Scores</button>
				<button class="delete-button btn-deny" ng-click="deleteGame()">Delete Game</button>
			</div>
			<div class="admin-top">
			 	<select ng-options="event.name for event in myEvents track by event._id" ng-change="updateEventDetails(event._id)" ng-model="event">
			 	</select>
			    <h2><i class="fa fa-user"></i> {{ getPlayerName() }}</h2>
			</div>

			<div class="admin-mid">
				<div class="admin-grid1">
					<h3>Time</h3>
					<h1 class="md-display-4">{{ roundTime | timeFilter | date:"mm:ss" }}</h1>
				</div>

				<div class="admin-grid2">
					<h4>Round</h4>
					<h2>{{ event.currentRound }}</h2>
					<h4>Total Score</h4>
					<h2>{{ totalScore }}</h2>
				</div>

				<div class="admin-grid3">
					<h3>Round Score</h3>
					<h1 class="md-display-4">{{ getRoundTotal() }}</h1>
				</div>

			</div>
			<div class="admin-bot">
				<button ng-show="startButton" ng-click="startPlayer()">Start Player</button>
				<button ng-show="stopButton" ng-click="endPlayer()">Force Stop</button>
				<button ng-show="nextPlayerButton" ng-click="nextPlayer()">Next Player</button>
				<button ng-show="nextRoundButton" ng-click="nextRound()">Next Round</button>
				<button ng-show="endButton" class="judging-button" ng-disabled="!event.inGame" ng-click="endGame()">End Game</button>
				<button ng-show="viewResultsButton" ui-sref="leaderboard">View Results</button>
				<h5 class="in-session" ng-if="event.inGame">GAME IN SESSION</h5>
			</div>

		</div>
		<div class="judge-area">

			<div class="admin-judge-box" ng-repeat="score in scores">
				<div class="new-judge-container">
					<h1>{{ getJudge(score).name }}</h1>
					<h1>{{ score.score }}</h1>
				</div>
			<!-- 	<div class="judge-alert">
					<i  ng-show="alert" class="fa fa-dot-circle-o"></i>
					<i  ng-hide="alert" class="fa fa-circle-o"></i>
				</div> -->
			</div>
		</div>
	</div>
</div>


 
