<button class="btn-primary" ui-sref="createEvent">Go to Create Event</button>
<button class="btn-primary" ui-sref="judgingConsole">Go to Judging Console</button><br/>
<div class="console-container">
	<h1>{{player}}</h1>
	<h1>{{time | timeFilter | date:"mm:ss"}}</h1>
	<h4>Round</h4>
	<h2>{{round}}</h2>
	<h1>{{ total }}</h1>
	<button>Start Round</button>
	<button>Next Round</button>
</div>
<div>
<div class="new-judge-container">
	<h1>{{judge}}</h1>
	<h1>{{score}}</h1>
</div>
<p>Alert</p><i class="fa fa-dot-circle-o"></i><i class="fa fa-circle-o"></i>
</div>

<my-button></my-button>