<button ui-sref="judgingConsole">Go to Judging Console</button>
<button ui-sref="adminConsole">Go to Admin Console</button>
<form ng-submit="createEvent()">
  <label>Event Name</label>
  <input type="text" ng-model="event.name">
  Time Limit
  <input type="number" ng-model="event.timeLimitMin" min = "0" max = "99"/>:<input type="number" ng-model="event.timeLimitSec" min = "0" max = "59"/>
  <label>Rounds</label>
  <input type="number" ng-model="event.rounds" min="1" max="10" integer /><br/>
  <label>Players</label>
  <div ng-repeat="player in players">
    <input type="text" ng-model="player.name" placeholder="Player {{ $index + 1 }}">
    <button type="button" ng-show="$last" ng-click="addPlayer()">+</button>
    <button type="button" ng-show="!$last" ng-click="removePerson(players, $index)">-</button>
  </div>
  <label>Judges</label>
  <div ng-repeat="judge in judges">
    <input type="text" ng-model="judge.name" placeholder="Judge {{ $index + 1 }}">
    <input type="text" ng-model="judge.category" placeholder="Category">
    <button type="button" ng-show="$last" ng-click="addJudge()">+</button>
    <button type="button" ng-show="!$last" ng-click="removePerson(judges, $index)">-</button>
  </div>
  <button type="submit">Submit</button>
</form>





  