<form ng-submit="createEvent()">
  <div class="create-wrapper">
    <label>Event Name</label>
    <input type="text" ng-model="event.name">
    <label>Time Limit</label>
    Min<input type="number" ng-model="event.timeLimitMin" min = "0" max = "99"/>Sec<input type="number" ng-model="event.timeLimitSec" min = "0" max = "59"/>
    <label>Rounds</label>
    <input type="number" ng-model="event.rounds" min="1" max="10" integer /><br/>
  </div>

  <div class="players-wrapper">
    <label>Players</label>
    <div ng-repeat="player in players | limitTo: noOfPlayers">
      <input type="text" ng-model="player.name" placeholder="Player {{ $index + 1 }}">
      <button type="button" class="btn-invert" ng-show="$last" ng-click="addPlayer()"><i class="fa fa-plus"></i></button>
      <button type="button" class="btn-invert" ng-show="!$last" ng-click="removePerson(players, $index)"><i class="fa fa-minus"></i></button>
    </div>
  </div>

  <div class="judge-wrapper">
    <div class="new-judge new-judge-container" ng-repeat="judge in judges | limitTo: noOfJudges">
      <label>Judge {{ $index + 1 }}</label>
      <input type="text" ng-model="judge.name" placeholder="Name">
      <input type="email" ng-model="judge.email" placeholder="Email">
      <input type="text" ng-model="judge.category" placeholder="Category">
      <button type="button" class="btn-invert" ng-show="$last" ng-click="addJudge()"><i class="fa fa-plus"></i></button>
      <button type="button" class="btn-invert" ng-show="!$last" ng-click="removePerson(judges, $index)"><i class="fa fa-minus"></i></button>
    </div>
  </div>

  <div class="submit-wrapper">
    <button type="submit">Submit</button>
  </div>

</form>



<!-- <div ng-submit="addPlayer(newPlayer); newPlayer='';">
  <input ng-model="player.name" type="text"
         name="text" placeholder="New Player Name" />
</div>
  <ul>
<li ng-repeat="player in players | limitTo: noOfPlayers">
    <button  ng-click="removePerson(players, $index)">&times;</button>
    <span class="text"> {{player.text}}
    </span>
  </li>
</ul> -->





  