<h3>U-Judge is still under construction so pardon the dust!</h3>
<p>I am still cleaning up functionality and in the middle of a huge UI overhaul. This page is just to give those interested a rough idea of what I am working on. Feel free to create an account and poke around or even create a competition and try to judge it.</p>
<p>Currently the only type of event that can be judged follows the format of a figure skating or skateboarding competition. Players take turns one by one performing during a timed round and judges input their scores accordingly. In the future, the ability to create and judge 1v1 or team vs team matches, among other custom features will also be implemented.</p>
<p>
 For a look at my code on Gitbub please click <a href="https://github.com/EricSSartorius/Judging-System" target="_blank">here.</a> </p>

<!-- <button class="btn-primary">A</button>
<button class="btn-deny">A</button>
<button class="btn-cancel">A</button>
<button class="btn-text">A</button>
<button class="btn-text-dark">A</button>
<button class="btn-confirmation">A</button>
<button class="btn-invert">A</button>
<button class="btn-disabled">A</button> -->
