
<h3>U-Judge is still under construction so pardon the dust!</h3>
<p>Currently the only type of event that can be judged follows the format of a figure skating or skateboarding competition. Players take turns one by one performing during a timed round and judges input their scores accordingly. In the future, the ability to create and judge 1v1 or team vs team matches, among other custom features will also be implemented.</p>
<p>
So how does this all work? Upon signing in and creating an event, the admin can then assign judges to their event. These judges can be anywhere in the world as long as they are connected to the net. If your judges are lazy they can even judge your event via Skype while sitting at home. </p>
<p>
Although there is still a lot of work such as adding features and finishing the design, U-Judge 1.0 should be finished very shortly so stay tuned for deployment! </p>

<p>Create an account and login to start making your first event!</p>

<button class="btn-primary">A</button>
<button class="btn-deny">A</button>
<button class="btn-cancel">A</button>
<button class="btn-text">A</button>
<button class="btn-text-dark">A</button>
<button class="btn-confirmation">A</button>
<button class="btn-invert">A</button>
<button class="btn-disabled">A</button>
