<div class="home-wrapper">
	<div class="about-ujudge">
		<section class="home-hero">
	 		<img src="/img/main-logo.svg" alt="Ujudge Logo">
			<h1 class="logo">UJUDGE</h1>
			<h3>Judging an event has never been so easy</h3>
			<button ui-sref="register" class="btn-text">Sign Up Now</button>
		</section >
		
		<section class="home-intro">
			<h1>It is time to change the way events are run</h1>
			<div>
				<div class="intro-text">
					<p>UJudge is a completely free online judging system that can be customized to meet your event needs. With the ability to keep track and manage all your event details, UJudge will turn your backyard skateboard competition into the next X-Games.</p>
					<p>We are currently in beta but feel free to create an account so that you can make a competition and try to judge it. Currently the only type of event that can be judged follows the format of a figure skating or skateboarding competition. Players take turns one by one performing during a timed round and judges input their scores accordingly. In the future, the ability to create and judge 1v1 or team vs team matches, among other custom features will also be implemented so stay tuned!</p>
					<p>Wanna see whats under the hood? Checkout the code on <a href="https://github.com/EricSSartorius/Judging-System" target="_blank">Github.</a></p>
				 </div>
				<img src="/img/u-judge.jpg" alt="U Judge">
			</div>
		</section>

		<section class="home-123">
			<h1>3,2,1 Judge!</h1>
			<div class="categories">
				<div class="home-create">
					<i class="fa fa-pencil-square-o fa-3x"></i>
					<h3>Create</h3>
					<p>Setting up an event could never be easier. After setting up your time limit and rounds, just add players and judges and you are good to go! Don't forget that the judges for your event are linked to the email address they made an acount with.</p>
				</div>
				<div class="home-admin">
					<i class="fa fa-laptop fa-3x"></i>
					<h3>Admin</h3>
					<p>Next you are ready to run your event! Just select the event you created and start the timer. Now you can sit back and watch the players as the judges do their job. And if you are really shorthanded you can even judge and admin the event at the same time.</p>
				</div>
				<div class="home-judge">
					<i class="fa fa-gavel fa-3x"></i>
					<h3>Judge</h3>
					<p>Judging an event can be a lot of hard work, but not with UJudge! Just sign in from anywhere in the world and submit your score with the click of a button! With this technology you can judge an event while watching it from the frontline or at home in your pajamas.</p>
				</div>
			</div>
		</section>

		<section class="home-quick-sb">
			<h1>Looking to run an event without judges?</h1>
			<p>Don’t worry. We have you covered if your event doesn’t require judges. If you are looking to put two teams head to head and all you need is a quick scoreboard, we have you covered.</p>
			<p>Best part is you don’t even need to make an account, so why not give it a try.</p>
			<button ui-sref="quickScoreboard" class="btn-text">Quick Scoreboard</button>
		</section>

		<section class="home-signup">
			<p>Or, if you have a panel of judges and a mob of hungry dancers, skaters, ballers, or any type of competitor out there ready to participate in the next upcoming event...What are you waiting for? Just click 'Sign Up' and create an event now!</p>
			<button ui-sref="register">Sign Up Now</button>
		</section>
		<footer>
			UJudge  <i class="fa fa-copyright"></i> 2016
		</footer>
	 </div>
 </div>


