<div class="console-container">
	<h2 class="judge-top">{{ showCurrentPlayerId() }}</h2>
	<form ng-submit="submitScore()">
		<div class="judge-grid"><h3>Score</h3>
		    <h1 class="judges-score md-display-4">{{score}}</h1>
		    <md-slider flex="" class="md-warn"  ng-disabled="false" ng-model="score" step="1" min="0" max="10" aria-label="Score"></md-slider>
	    </div>
		<div class="judge-grid">
			<h4>Round</h4>
			<h2>{{ showCurrentRound() }}</h2>
		</div>
		<div class="judge-grid">
			<h3>Time</h3>
			<h1 class="md-display-4">{{ showTime() | timeFilter | date:"mm:ss"}}</h1>
		</div>
		<div class="judge-bot">
			<div class="judge-alert">
				<p>Alert Admin</p>
				<i class="fa fa-dot-circle-o"></i>
			</div>
			<button type="submit" ng-disabled="false">Confirm</button>
		</div>
	</form>
</div>
