<div class="leaderboard main-layout">
	<h1 class="title">{{ event.name }}</h1>
	<h1 class="title">{{ noEvent }}</h1>
	<div class="leaderboard-wrapper">
		<div class="leaderboard-winner" ng-repeat="player in events[0].players | orderBy:'-totalScore' | limitTo:1">
	 		<h2>1st Place</h2>
			<h1 class="winner">{{ player.name }}</h1>
			<h1 class="winner">{{ player.totalScore }}</h1>
		</div>
		<div class="leaderboard-list">
			<ul>
				<li>{{rank}}</li>
				<li ng-repeat="player in events[0].players| orderBy:'-totalScore' | limitTo: 10 ">
					{{$index + 1}}.
				</li>
			</ul>

			<ul>
				<li>{{name}}</li>
				<li ng-repeat="player in events[0].players| orderBy:'-totalScore' | limitTo: 10  ">
					{{ player.name }}
				</li>
			</ul>

			<ul>
				<li>{{points}}</li>
				<li ng-repeat="player in events[0].players| orderBy:'-totalScore' | limitTo: 10  ">
					{{ player.totalScore }}
				</li>
			</ul>
		</div>
	</div>
</div>
