<div class="console-container">
	<div class="admin-top">
	    <h2>Event Name</h2>
	</div>
		<div class="admin-mid">
			<div class="admin-grid">
			<h3>Player 1</h3>
			<h1 class="md-display-4">25</h1>
			<i class="fa fa-plus"></i>
        	<i class="fa fa-minus"></i>
		</div>
		<div class="admin-grid">
			<div class="round-icons">
				<i  ng-hide="alert" class="fa fa-circle-o"></i>
				<i  ng-hide="alert" class="fa fa-circle-o"></i>
				<i  ng-hide="alert" class="fa fa-circle-o"></i>
			</div>
			<h4>Time</h4>
			<h1 class="md-display-4">14:02</h1>
			<i class="fa fa-plus"></i>
        	<i class="fa fa-minus"></i>
		</div>
		<div class="admin-grid">
			<h3>Player 2</h3>
			<h1 class="md-display-4">14</h1>
			<i class="fa fa-plus"></i>
        	<i class="fa fa-minus"></i>
		</div>
	</div>
	<div class="admin-bot quick-scoreboard-bot">
		<button>Start</button>
		<button>Pause</button>
		<button>Stop</button>
	</div>
</div>


 
