<div class="console-container quick-scoreboard main-layout">
	<div class="admin-top quick-top">
	    <h2>QUICK SCOREBOARD</h2>
	</div>
		<div class="admin-mid quick-mid">
			<div class="admin-grid1 quick-grid1">
			<h3 class="player-1">Player 1</h3>
			<h1 ng-class="(leftScore > rightScore) ? 'player-1 md-display-4' : 'tie md-display-4'">{{leftScore}}</h1>
			<i class="fa fa-plus" ng-click="leftScoreUp()"></i>
        	<i class="fa fa-minus" ng-click="leftScoreDown()"></i>
		</div>
		<div class="admin-grid2 quick-grid2">
<!-- 			<div class="round-icons">
				<i  ng-hide="alert" class="fa fa-circle-o"></i>
				<i  ng-hide="alert" class="fa fa-circle-o"></i>
				<i  ng-hide="alert" class="fa fa-circle-o"></i>
			</div> -->
			<h4>Time</h4>
			<h1 class="md-display-4">{{ quickTimer | timeFilter | date:"mm:ss" }}</h1>
			<i class="fa fa-plus" ng-show="start" ng-click="timerUp()"></i>
        	<i class="fa fa-minus" ng-show="start" ng-click="timerDown()"></i>
		</div>
		<div class="admin-grid3 quick-grid3">
			<h3 class="player-2">Player 2</h3>
			<h1 ng-class="(leftScore < rightScore) ? 'player-2 md-display-4' : 'tie md-display-4'" >{{rightScore}}</h1>
			<i class="fa fa-plus" ng-click="rightScoreUp()"></i>
        	<i class="fa fa-minus" ng-click="rightScoreDown()"></i>
		</div>
	</div>
	<div class="admin-bot quick-bot">
		<button ng-show="start" ng-click="startTimer()">Start</button>
		<button ng-hide="start" ng-click="pauseTimer()">Pause</button>
		<button ng-show="end" ng-click="resetTimer()">Reset</button>
		<button ng-show="end" ng-click="endTimer()">End</button>
	</div>
</div>


 
