<md-content class="login-wrapper main-layout" layout="row" layout-align="center start" layout-fill layout-margin>
 
  <md-whiteframe layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
     <md-toolbar class="login-toolbar">   
        <img src="/img/main-logo.svg" alt="U Judge Logo">
      </md-toolbar>
    <div layout="column" layout-fill layout-margin layout-padding>
 
      <div layout="row" layout-fill layout-margin layout-padding>
        <p class="md-body-2"> Sign in with your email</p>
      </div>
 
      <form name="loginForm" layout="column" layout-fill layout-padding layout-margin>
        <md-input-container>
          <label> Email </label>
          <input type="text" ng-model="credentials.email" aria-label="email" required/>
        </md-input-container>
        <md-input-container>
          <label> Password </label>
          <input type="password" ng-model="credentials.password" aria-label="password" required/>
        </md-input-container>
        <div layout="row" layout-align="end center">
<!--           <a class="md-button" href="/resetpw">Forgot password?</a> -->
          <button ng-click="login()" aria-label="login">Sign In</button>
        </div>
      </form>

      <md-toolbar ng-show="error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">Your email and/or password were not correct. Please try again.</p>
      </md-toolbar>

      <div layout="row" layout-align="center">
        <a ui-sref="register">Need an account?</a>
      </div>
 
    </div>
 
  </md-whiteframe>
</md-content>